# Ignore node_modules folder
node_modules
.idea
.next
*.json
*.mjs
*.md

# Ignore build directories
build
dist

# Ignore public assets
public

# Ignore all minified files
*.min.js

# Ignore specific configuration files
webpack.config.js